.join{
    display: flex;
    padding: 0 2rem;
    gap: 10rem;
}
.left-j{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.left-j>hr{
    position: absolute;
    width: 10rem;
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin: -10px 0;
}
.left-j>div{
    display: flex;
    gap: 1rem;
}
.right-j{
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-container{
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem 2rem;
}
.email-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--orange);
}
::placeholder{
    color: var(--lightgray);
}
.btn-j{
    background-color: var(--orange);
    color: white;
}
@media screen and (max-width : 768px){

.join{
    flex-direction: column;
    gap: 5rem;
    padding: 0;
}
.left-j>:nth-child(2){
    font-size: x-large;
    justify-content: center;
}
.left-j>:nth-child(3){
    font-size: x-large;
    justify-content: center;

}
.left-j>hr{
    margin-left: 4rem;
}
.email-container{
    width: 80%;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.email-container>input{
    width: 60%;
}



}